* {
    box-sizing: border-box;
  }

body {
    background:url(../img/pexels-jill-burrow-6387865.jpg);
    color:black;
    font: 1em / 1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 1em;
    margin: 0;
    margin-left: 500px;
    margin-top: 180px;
  }

  li {
      margin-top: 20px;
      display: flex;  
  }

 
